@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #3f4959;
}

* {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
button {
    background: white;
    border: none;
    outline: none;
}

button,
a {
    cursor: pointer;
    transition: 0.3s all ease;
}